/* header */
.logo {
    display: inline-block;
    margin-right: 90px;
    margin-left: 19px;
}
.color {
    background-color: #F6F8F9;
}
.navigation {
    display: inline-block;
    font-family: 'Helvetica';
}
.active {
    color: #343638;
}
.nav-item {
    display: inline-block;
    margin-right: 54px;
    font-size: 11px;
}
.header-div {
 display: inline-block;
 width: 1440px;
 height: 50px;
}
/* fisrt main div  */
.trending {
    font-size: 24px;
    padding-right: 134px;
    padding-bottom: 40px;
    font-family: 'Helvetica';

}
.main-div {
    width:1160px ;
    height: 410px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 508px;
    
}
/* first block */
.text1 {
 width: 360px;
 height: 180px;
 font-size: 13px;
 line-height: 23px;
 text-align: left;
 padding: 50px 25px 40px 20px;
 background-color: #FFFFFF;
 font-family: 'acumin pro';
 
}
.loren {
width: 281px;
height: 38px;
}
.first-block {
    display: inline-block;
    margin-right: 10px;
    
}
/* secomd block */
.second-block {
    display: inline-block;
    margin-right: 10px;
}
/* last block */
.last-block {
    display: inline-block;
}